.playButton{
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  background-color: rgba(41, 172, 65, 0.849);
    position: absolute;
  left: 50%;
  top: 50%;
}
.previousButton{
    padding: 0 4px 0 4px;
    margin: 5px 6px 5px 6px;
    height: 50px;
    width: 50px;
    background-color: rgba(113, 179, 125, 0.849);
      position: absolute;
    left: 45%;
    top: 50%;
  }