<script src="https://unpkg.com/wavesurfer.js"></script>

<div id="waveform"></div>

<button mat-fab class="playButton" (click)="onPlayClick()">
    <i class="material-icons">
        play_arrow
    </i></button>
<button mat-fab aria-label="Another button number 1" class="previousButton">
    <i class="material-icons" style="font-size: 20px">
        skip_previous
    </i></button>
<button mat-fab aria-label="Another button number 2" class="nextButton">
    <i class="material-icons" style="font-size: 20px">
        skip_next
    </i></button>
<button mat-fab aria-label="Another button number 3" class="shuffleButton">
    <i class="material-icons" style="font-size: 15px">
        shuffle
    </i></button>
<button mat-fab aria-label="Another button number 4" class="replayButton">
    <i class="material-icons" style="font-size: 15px">
        replay
    </i></button>