.playButton {
  background-color: rgba(41, 172, 65, 0.849);
  position: absolute;
  float: left;

  &::ng-deep .mat-button-wrapper{
    line-height: 14px;
    padding: 0;
  }
}
.previousButton {
  
  height: 50px;
  width: 50px;
  background-color: rgba(63, 194, 87, 0.973);
  position: absolute;
  float: left;

  &::ng-deep .mat-button-wrapper{
    line-height: 14px;
    padding: 0;
  }
}
.nextButton {
  height: 50px;
  width: 50px;
  background-color: rgba(63, 194, 87, 0.973);
  position: absolute;
  float: left;

  &::ng-deep .mat-button-wrapper{
    line-height: 14px;
    padding: 0;
  }
}
.shuffleButton {
  height: 40px;
  width: 40px;
  background-color: rgba(67, 204, 92, 0.973);
  position: absolute;
  float: left;

  &::ng-deep .mat-button-wrapper{
    line-height: 14px;
    padding: 0;
  }
}
.replayButton {
  height: 40px;
  width: 40px;
  background-color: rgba(67, 204, 92, 0.973);
  position: absolute;
  float: left;

  &::ng-deep .mat-button-wrapper{
    line-height: 14px;
    padding: 0;
  }
}
